.formcontato__contacto {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:768px) {
    .formcontato__contacto {
        display: block;
    }
}

@media screen and (max-width:360px) {
    .formcontato__contacto {
        width: 95%;
    }
}