.formcontato__textarea {
    height: 6rem;
    resize: none;
    overflow-y: auto;
    padding-left: 1rem;
    border: none;
    font-size: 1rem;
    font-family: 'Raleway';
    font-weight: 700;
}

@media screen and (max-width:768px) {
    .formcontato__textarea{
        height: 8rem;
    }   
}