.formcontato__subtext {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
}

.formcontacto__subtext--first {
    margin: 1rem 0;
}

@media screen and (max-width:420px) {
    .formcontato__subtext {
        padding-right: 1rem;
    }   
}