.academic__courses__box {
    width: 300px;
    margin-bottom: 2rem;
    background: #FFFFFF;
    border-radius: 20px;
}

@media screen and (max-width:768px) {
    .academic__courses__box {
        width: 224px;
    }
}

@media screen and (max-width:360px) {
    .academic__courses__box {
        margin-bottom: 2rem;
    }
}